@charset "utf-8";
/*
.o_sub_menu {
    background-color: red;
}
*/

/*
.o_main_navbar{
    background-color: #3C8B3C !important;
}

.o_main_navbar > ul > li > a:hover {
    background-color: #235A46;

}

.o_main_navbar .show .dropdown-toggle {
    background-color: #235A46;
}

.o_menu_brand:hover {
    background-color: #235A46 !important;
}
*/