.o_ChatroomHeader {
    min-height: 42px;
    display: flex;
    justify-content: space-between;
    padding: 4px 6px;
    align-items: center;
    color: var(--body-color);
    overflow: visible;
    flex-wrap: nowrap;
    flex: 0 1 auto;
}
